cp .env.local.example .env.local
# Editá .env.local con tu editor de texto:
NEXT_PUBLIC_SUPABASE_URL=https://sqlcdbjhqtuikehopjra.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxbGNkYmpocXR1aWtlaG9wanJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTYzODIsImV4cCI6MjA5ODA3MjM4Mn0.uD-HbhIxUGVgTWytDPwcJPNazqc3rcGym4rYQv4niVY